# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Archivos de Streamlit
.streamlit/secrets.toml

# PDFs generados (opcional, si no quieres subirlos)
*.pdf

# Archivos del sistema Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Archivos de VS Code
.vscode/

# Archivos temporales
*.log
*.tmp